<div id="loginContainer">
    <img src="./assets/images/noteAppImg.png" alt="noteAppImg" id="noteAppImg">
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <h1>Inicia Sesión</h1>
        <div class="emailContainer">
            <input class="userEmail" type="text" formControlName="email" placeholder="Ingresa tu email">
            <label class="label" for="userEmail">Email</label>
        </div>
        <div class="passwordContainer">
            <input class="userPassword" type="password" formControlName="password" placeholder="Ingresa tu contraseña">
            <label class="label" for="userPassword">Contraseña</label>
        </div>
        <button type="submit">Iniciar sesión</button>
        <P>¿No tienes cuenta? <a href="register">Registrate</a></P>
        <p>Inicia sesión con:</p>
        <img src="./assets/images/google.png" alt="googleLogo" id="googleLogo" (click)="onClick()">
    </form>
</div>