<div class="mainContainer">
    <div class="topContainer">
        <div class="searchBarContainer">
            <input type="text" placeholder="filtrar notas">
            <fa-icon icon="search" alt="search"></fa-icon>
        </div>
        <button>Agregar nota</button>
    </div>
    <div class="notesList">
        <app-note-card></app-note-card>
        <app-note-card></app-note-card>
        <app-note-card></app-note-card>
        <app-note-card></app-note-card>
        <app-note-card></app-note-card>
        <app-note-card></app-note-card>
        <app-note-card></app-note-card>
    </div>
</div>