<div #container class="noteCardContainer">
    <div class="noteCardContent">
        <h1 class="noteCaardTittle">Lorem ipsum</h1>
        <div class="noteCardBody">
            <p #bodyText> Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text Body Text </p>
            <div #truncator class="fadeoutBodyText"></div>
        </div>
    </div>
        <fa-icon class="xButton" icon="close"></fa-icon>
</div>
