<div id="registerContainer">
    <img src="./assets/images/noteAppImg.png" alt="noteAppImg" id="noteAppImg">
    <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
        <h1>Registro</h1>
        <div class="emailContainer">
            <input class="userEmail" type="text" formControlName="email" placeholder="Ingresa tu email">
            <label class="label" for="userEmail">Email</label>
        </div>
        <div class="passwordContainer">
            <input class="userPassword" type="password" formControlName="password" placeholder="Ingresa tu contraseña">
            <label class="label" for="userPassword">Contraseña</label>
        </div>
        <div class="passwordContainer">
            <input class="userPassword" type="password" formControlName="passwordConf" placeholder="Confirma tu contraseña">
            <label class="label" for="userPassword">Contraseña</label>
        </div>
        <button type="submit">Registrate</button>
        <p>Registrate con:</p>
        <img src="./assets/images/google.png" alt="googleLogo" id="googleLogo" (click)="onClick()">
    </form>
</div>